Importamos las librerías necesarias

In [ ]:
import pandas as pd
from pymongo import MongoClient
import pyarrow

Esta función recoge los datos de MongoDB, los convierte en un DataFrame de pandas y los exporta a CSV y Parquet

In [18]:
client = MongoClient('mongodb://localhost:27017/')

db_name = client['bicisCorunha']
collection_name = db_name['stations']

def export_data():
    pipeline = [
    {"$project": { 
        "_id": 0,
        "id": 1,
        "name": 1,
        "timestamp": 1,
        "free_bikes": 1,
        "empty_slots": 1,
        "uid": "$extra.uid", #Usamos alias para extraer la columna como campo plano
        "last_updated": "$extra.last_updated",
        "slots": "$extra.slots",
        "normal_bikes": "$extra.normal_bikes",
        "ebikes": "$extra.ebikes"
    }}
    ]
    data = collection_name.aggregate(pipeline)
    df=pd.DataFrame(data)
    df.to_csv('../bicisCorunha.csv')
    df.to_parquet('../bicisCorunha.parquet')
    return df
    

df=export_data()
df

,id,name,timestamp,free_bikes,empty_slots,uid,last_updated,slots,normal_bikes,ebikes
0,023efce1bbb332a1b918d56aeb671890,Avenida de Arteixo,2024-12-11T18:50:45.883393Z,3,12,53,1733942862,15,2,1
1,02cecd02915c86d7ab8034b61b19da0e,Mercado de Monte Alto,2024-12-11T18:50:45.883247Z,0,15,43,1733942984,15,0,0
2,030c4027b0bea390e562645c7082db4c,Los Rosales,2024-12-11T18:50:45.879148Z,7,18,11,1733942961,25,7,0
3,0e3aa0134a2f3d07ae5bd093e6af9a33,Plaza de Portugal,2024-12-11T18:50:45.883426Z,10,10,55,1733942971,20,10,0
4,104e0797759d11ac22a61cfed357800b,Ventorrillo,2024-12-11T18:50:45.879428Z,0,18,27,1733942929,18,0,0
...,...,...,...,...,...,...,...,...,...,...
93,f04ee4ffca2a6f3daacba88a9eee8487,Millenium,2024-12-11T19:08:45.591910Z,8,5,56,1733944107,15,6,3
94,f702a7b2b1631ace3781c405acb99b70,Praza de Ourense,2024-12-11T19:08:45.591703Z,4,10,41,1733943994,15,4,0
95,f86954a7b51703f735bce5b549cb4e16,Parque del Agra,2024-12-11T19:08:45.591747Z,7,6,45,1733943973,15,7,0
96,fb0d3f40ea7570546b171b43ccd57a2a,Rosales-Labañou,2024-12-11T19:08:45.591758Z,4,11,46,1733944083,15,4,0
97,fee1ae73b32ffb83e1bf3f6e83e616b7,Centro Cívico Monelos,2024-12-11T19:08:45.591503Z,7,7,21,1733944052,15,6,2